{% extends "base.html.twig" %}

{% block title %}A propos{% endblock %}

{% block body%}
    <div class="container">
        <h1 class="text-center mb-5">A propos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aperiam nulla accusamus cum soluta voluptatibus incidunt deleniti nihil doloribus placeat.</p>
    </div>
{% endblock %}