{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <h2>Nous contacter</h2>

                {% include "utils/alert.html.twig" %}

                {{ form_start(contact_form) }}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(contact_form.name) }}
                        </div>

                        <div class="col-lg-6">
                            {{ form_row(contact_form.email) }}
                        </div>
                    </div>

                    {{ form_rest(contact_form) }}  
                    <button type="submit" class="btn btn-dark">{% trans %}contact.button{% endtrans %}</button>

                {{ form_end(contact_form) }}
            </div>

            <div class="col-lg-4">
                <h3>Informations</h3>
                <ul>
                    <li>tel : 06 00 00 00 00</li>
                    <li>Mail : paul@auchon.local</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}