{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="py-5 mb-5 text-center">
        <h1>Découverte de symfony</h1>
        <p>Un super site pour découvrir le fonctionnement de Symfony</p>
    </div>

    <section class="bg-dark text-light py-4 mb-5">
        <div class="container py-4">
            <h2 class="text-center mb-5">Les grandes étapes</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h2>Installation</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi deleniti recusandae facere asperiores corporis at numquam sit. Consequatur, accusantium!</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h2>Développement</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi deleniti recusandae facere asperiores corporis at numquam sit. Consequatur, accusantium!</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h2>Tests</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi deleniti recusandae facere asperiores corporis at numquam sit. Consequatur, accusantium!</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h2>Mise en ligne</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi deleniti recusandae facere asperiores corporis at numquam sit. Consequatur, accusantium!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 mmb-4">
        <div class="container">
            <h2>Les derniers articles</h2>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Titre</h3>
                            <p class="card-text">Lorem...</p>
                            <a href="" title="" class="btn btn-danger">Lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
