{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <p>
        <a href="{{ path('product_new') }}" class="btn btn-dark">Ajouter un produit</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Statut</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.summary }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.isActive ? '<span class="badge bg-success">En ligne</span>' : '<span class="badge bg-danger">Hors-ligne</span>' }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-outline-dark mb-1">Voir</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-outline-dark">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
