{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('admin/product/_form.html.twig') }}

    <hr>

    <a href="{{ path('product_index') }}" class="btn btn-outline-primary">Retour a la liste</a>
{% endblock %}
