{% for type, messages in app.flashes() %}
    {% for message in messages %}
        <div class=" alert alert-{{ type }}">
            {{ message }}
        </div>
        
    {% endfor %}
{% endfor %}